/* #727cf5 */

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    /* font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300; */
}

.header .dropdown a.logo{
    padding-left: 5px;
}
.header .dropdown a.logo h3{
    font-weight: 700;
    margin-bottom: 0;
    padding-right: 5px;
}
.header .dropdown ul{
    padding: 0;
}
.header .dropdown ul li a{
    padding-top: 3px;
    padding-bottom: 3px;
}
.header .dropdown ul li a:focus{
    background-color: #727cf5;
    color: white;
}
.header .dropdown ul li:nth-child(1) a{
    padding-top: 6px;
}
.header .dropdown ul li:nth-child(3) a{
    padding-bottom: 6px;
}

.main {
    height: 100%;
}
.main .d-grid {
    height: 100%;
    grid-template-columns: minmax(360px,3fr) 5fr;
    /* grid-template-columns: 3fr 5fr; */
}
.main .d-grid .chatpage {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main .d-grid .chatpage .chats {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main .d-grid .chatpage .write {
    display: flex;
    position: sticky;
    bottom: 0;
}
.main .d-grid .chatpage .write textarea{
    resize: none;
    display: flex;
    flex: 1;
    border: 0;
    outline: none;
    overflow: auto;
    font-size: 14px;
}
.main .d-grid .chatpage .write button{
    background-color: #727cf5;
    border-color: #727cf5;
}

.main .d-grid .chatpage .write button:hover{
    background-color: #6169d0;
    border-color: #5b63c4;
}

@media (max-width: 768px){
    .main .d-grid {
        grid-template: none;
    }
    .main .d-grid .gitpage{
        display: none;
    }
}

section {
    background-color: brown;
    height: 100%;
}
section .row{
    height: 100%;
}
section .row .chatpage{
    display: flex;
    flex-direction: column;
    height: 100%;
}
section .row .chatpage .chats{
    background-color: blue;
    display: flex;
    flex-direction: column;
    height: 100%;
}
section .row .chatpage .write{
    background-color: white;
    display: flex;
    position: sticky;
    bottom: 0;
}
section .row .chatpage .write textarea{
    resize: none;
    display: flex;
    flex: 1;
    border: 0;
    outline: none;
    overflow: hidden;
}
section .row .right-page {
    padding: 0;
}
@media (max-width: 768px) {
    section .row .chatpage{
        flex-grow: 1;
        padding: 0px 12px;
    }
    section .right-page {
        display: none;
    }
}

/* signup.html */
header.signup{
    padding-bottom: 24px;
}
header.signup div{
    text-align: center;
}
header.signup div a{
    display: inline-block;
    margin-top: 200px;
    text-decoration: none;
}
header.signup div a h1{
    font-weight: 700;
}

div.signup {
    height: 100%;
}

div.signup .login_wrap{
    width: 553px;
    margin: 0 auto;
}

div.signup .login_wrap form{
    padding:10px;
}
div.signup .login_wrap form .input-box{
    position:relative;
    margin:10px 0;
}

div.signup .login_wrap form .input-box input{
    background:transparent;
    border:none;
    border-bottom: solid 1px #ccc;
    padding:20px 0px 5px 0px;
    font-size:14pt;
    width:100%;
}
div.signup .login_wrap form .input-box input::placeholder{
    color: transparent;
}
input:placeholder-shown + label{
    color: #aaa;
    font-size:14pt;
    top:15px;
}
input:focus + label, label{
    color: #6169d0;
    font-size:10pt;
    pointer-events: none;
    position: absolute;
    left:0px;
    top:0px;
    transition: all 0.2s ease ;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown){
    border-bottom: solid 1px #8aa1a1;
    outline:none;
}
input[type=submit]{
    background-color: #727cf5;
    border: none;
    color:white;
    border-radius: 5px;
    width:100%;
    height:46px;
    font-size: 16pt;
    margin-top:46px;
}
input[type=submit]:hover{
    background-color: #6169d0;
    border-color: #5b63c4;
}

/* login.html */
#forgot{
    text-align: right;
    font-size:12pt;
    color:rgb(164, 164, 164);
    margin:10px 0px;
}